<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

    <style>
        .chart-container {
          position: relative;
          min-height: 20em;
        }
      
        @media screen and (min-width: 640px) {
          .charts {
            display: flex;
          }
      
          .chart-container {
            width: 50%;
          }
        }
      </style>


<div>
    <div class="charts">
        <div class="chart-container">
          <canvas id="scenario_3-bar"></canvas>
        </div>
    
        <div class="chart-container">
          <canvas id="scenario_3-pie" class="chart-pie"></canvas>
        </div>
      </div>

        <table id="scenario_3-table">
            <tr>
                <th></th>
                <th>Incumbent</th>
                <th>Alternative</th>
            </tr>
            <tr>
                <td>GRC A</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>GRC B</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>GRC C</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Seat Share</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Popular Vote</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </table>


    <input id="scenario_3-slider" type="range" min="0" max="90" value="0" step="0.1" class="slider">


    <button id="scenario_3-reset-button">Reset</button>
    <button id="scenario_3-randomise-button">Randomise Data</button>
    <button id="scenario_3-simulation-button">Start Simulation</button>

</div>

<script src="scenario_3.js"></script>