<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

<div>
    <div style="width: 50%; float: left">
        <canvas id="scenario_0-bar" width=50 height=45></canvas>
    </div>

    <div style="margin-left: 55%; width: 40%;">
        <canvas id="scenario_0-pie" width=50 height=50></canvas>
    </div>

    <div style="margin-top: 7%; line-height: 40%">
        <table id="scenario_0-table">
            <tr>
                <th></th>
                <th>Incumbent</th>
                <th>Alternative</th>
            </tr>
            <tr>
                <td>Seat Share</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Popular Vote</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </table>
    </div>

</div>



<script src="scenario_0.js"></script>